/* Light mode */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  transition: 0.3s;
  overflow: hidden;


}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 161, 161);
  min-height: 100vh;
  gap: 20px;
}

.form{
  background-color: green;
  display: flex;
  align-items: center;
  width: 50%;
  box-shadow: 1px 1px 5px black;
}

.formInput{
  height: 40px; 
  padding: 0 10px;
  width: 80%;
  background-color: white;
  outline: none;
  border: none;
}

.formBtn{
  background-color: black;
  color: white;
  height: 40px;
  cursor: pointer;
  border: none;
  width: 20%;
  /* padding: 30px; */

}


.taskCard{
  background-color: aliceblue;
  width: 50%;

}
.taskList{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
}

.taskList:nth-child(even){
  background-color: rgba(0, 0, 255, 0.155);
}
.taskTitle{
  text-decoration: line-through solid red;
  transition: 0.5s;
}

.taskList button{
  cursor: pointer;
  /* padding: 10px; */
  border: none;
  outline: none;
  padding-right: 10px;
  background-color: transparent;
  transition: 0.3s;
}
.taskList button:hover{
  color: red;
}




