/* Light mode */
body {
  background-color: white;
  color: black;
  transition: 0.3s;
}

/* Dark mode */
body.dark {
  background-color: #090224;
  color: white;
}

.theme-toggle-btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lightcyan;
  cursor: pointer;
}

body.dark .theme-toggle-btn {
  background-color: darkgray;
  color: white;
}

/* Auto Save Input Stylings */

.auto-save-input,
.show-hide-btn {
  padding: 10px;
  border: 1px solid rgba(128, 0, 128, 0.429);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.368);
  border-radius: 5px;
  outline: none;
  width: 300px;
}

/* Countdown timer */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/* Show Hide Component */
.show-hide-btn {
  width: 150px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
